<!DOCTYPE html>
<html>

  <head>
    <title>SCCOP</title>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% block header %}

    {% endblock header %}
  </head>

  <body>
    <h1>Smart Car CoPilot</h1>
    
    {% block dashboard %}

    {% endblock dashboard %}

  </body>

</html>