<!DOCTYPE html>
<html>

  <head>
    <title>SCCOP</title>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% block header %}

    {% endblock header %}
  </head>

  <body>
    <h1>Smart Car CoPilot</h1>

    {% if msg %}
      {{ msg }}
    {% else %}
      <h2>User: {{ user.username }}</h2>
      <h3>RPM</h3>
      {% for rpm in user.get_rpm_values %}
        {{ rpm }}
      {% endfor %}
      <hr/>
      <h3>Speed</h3>
      {% for speed in user.get_speed_values %}
        {{ speed }}
      {% endfor %}
      <hr/>
      <h3>Temperature</h3>
      {% for temp in user.get_temp_values %}
        {{ temp }}
      {% endfor %}
    {% endif %}
  </body>

</html>