<!DOCTYPE html>
<html lang="en">
 <head>
  <script src="{{STATIC_URL}}js/AudioContextMonkeyPatch.js"></script>
  <script src="{{STATIC_URL}}js/recorder.js"></script>
  <script src="{{STATIC_URL}}js/main.js"></script>

  <style>
    #record.recording { 
      background: red;
      background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
    }
  </style>
</head>

  <body>
    <div id="controls">
      <input id="filename" type="text" placeholder="Filename">
      <button id="record" onclick="toggleRecording(this);">record</button>
      <button id="save" onclick="saveAudio(document.getElementById('filename').value);">save</button>
    </div>
  </body>
</html>